streamlit
geopandas
pandas
requests
folium==0.19.7
streamlit-folium==0.25.0
earthengine-api
geemap==0.36.6
python-box==7.3.2
xyzservices>=2024.4.0
shapely
duckdb
plotly
beautifulsoup4
urllib3
fiona
pyarrow
rtree